{% extends 'nombre/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="shadow p-4 mb-5 bg-body rounded">
  <center>
    <h1> Agregar Material </h1>
    <br><br>
    {% if submitted %}
      Tu Material fue agregada correctamente
      <a href="{% url 'carreras-detail' %}" class="btn btn-secondary">Volver</a>
    {% else %}
      <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="" value="Submit" class="btn btn-secondary">
    </form>
    
    {% endif %}
  </center>
</div>
{% else %}

<h1>Lo sentimos, debes ingresar para ver esta pagina</h1>

<a class="nav-link" href="{% url 'login' %}">Ingresar</a>

{% endif %}
{% endblock %}