<div id="auxiliarnav" class="sidenav">
  <div id="nav-icon1">
      <span></span>
      <span></span>
      <span></span> 
  </div>
  <a href="https://www.ugc.edu.co/sede/bogota/" target="_blank"><img src="http://cdn.pearltrees.com/s/pic/la/escudo-ugc-83780576" class="img-fluid img-thumbnail" alt="Responsive image" style="margin: 1px;"></a>
</div>
{% load static %}


<style type="text/css">
    

  /* Icon 1 */

  #auxiliarnav {
    width: 39px;
    height: 40%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    top: 100px;
    left: 0px;
    padding-top: 10px; /
  }

  #auxiliarnav a {
  padding: 0px 0px 0px 0px;
  }
</style>