{% extends 'nombre/base.html' %}

{% block content %}




<div class="shadow p-4 mb-5 bg-body rounded">
   <h1>Calificaciones</h1> 

    <table class="table">
        <tr>  
            <th>Tematica</th>
            <th>Quiz</th>
            <th>Nota</th>
            <th>Fecha</th>
        </tr>
        <tr>  
        {% for calificacion in calificaciones|dictsort:"nota" %}
            <td>
                {{ calificacion.quiz.tematica.titulo }}
            </td>
            <td>
                {{ calificacion.quiz.titulo }} 
            </td>
            <td>
                {{ calificacion.nota }}
            </td>
            <td>
                {{ calificacion.fecha }}
            </td>
        </tr>
        {% endfor %}
    </table>

{% now "jS F Y H:i" %}

<br><br>
{% include 'nombre/calificaciones_chart.html' %}
</div>
{% endblock %}