{% load poll_extras %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="{{ STATIC_URL }} /static/nombre/assets/js/jquery-1.10.2.js">
    </script> 
    <title>{{ page_title }}!</title>
    <style type="text/css">
      body {background: #f4f4f4;}
    </style>
    
  </head>
  <body>
    
    <div class='image'>
    {% include 'nombre/navbarHome.html' %}
    {% if user.is_authenticated %}
    {% include 'nombre/sidenavbar.html' %}
    {% endif %}
    {% include 'nombre/auxiliarnav.html' %}


    <div style="position: fixed; width: 100%; top: 15%">
    {% if messages %}
      {% for message in messages %}
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    </div>


    <h1 style="color:white; position:relative; top: 80px; width: 30%; left: 70%;">Aprendapp</h1>
    <h2 style="color:white; position:relative; top: 120px; width: 30%; left: 70%;">Empieza a aprender como tu quieras...</h2>

    {% if user.is_authenticated %}
    <a href="{% url 'user-detail' %}" class="btn btn-outline-success" style="color:white; position:relative; top: 140px; width: 20%; left: 70%;"> Continuar a mi area</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-success" style="color:white; position:relative; top: 140px; width: 20%; left: 70%;"> Entrar</a>
    <p class="" style="color:white; position:relative; top: 160px; width: 20%; left: 70%;"> ¿Eres nuevo por aqui? <a href="{% url 'registrar-estudiante' %}" class="" style="color:white;"> Registrate</a></p>
    {% endif %}
    </div>

    <div class="info" id="info">
      <h2 style="color:white; position:absolute; top: 120px; width: 30%; left: 10%;">¿Que puedes encontrar con nosotros?</h2>      
      <img src="{% static 'yeison.png' %}" style="height:90%; position:absolute; top: 10%; left: 50%; max-width: 50%;">
    </div>

    <div id="div-body" class="content">

    <div class="container" id="cursos">
      
      
      <h1>Cursos disponibles: </h1>

<br><br>
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for curso in cursos %}
<div class="col">
<div class="card mb-3 border border-success" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center">
      <img src="{{ curso.imagen.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ curso.titulo }}</h5>
        <h6 class="card-title">{{ curso.tematica.nombre }} - {{ curso.tematica.categoria.nombre }}</h6>
        <p class="card-text" style="overflow: hidden; height: 150px;">
          {{ curso.resumen }}
        </p>
        <p class="card-text">
          
          {% if request.user|has_group:"Docentes" %}
          <a href="{% url 'actualizar-tematica' curso.tematica.categoria.nombre curso.tematica.nombre curso.id %}" class="btn btn-outline-secondary">Actualizar</a>
          {% endif %}
          <a href="{{ curso.get_absolute_url }}" class="btn btn-outline-success"> Entrar</a></p>
        <p class="card-text"><small class="text-muted">Ultima Actualización: {{ curso.last_updated }}</small></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>
      </div>
       <br>

      <div class="container shadow p-4 mb-5 bg-body rounded">
        <iframe id="encoder_iframe" height="350px" width="100%" src="{% url 'preguntar' %}" ></iframe>
      </div>
    </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>


{% include 'nombre/chatPopUp.html' %}





<style type="text/css">
 .image {

      position: absolute;

      width: 100%;

      height: 100%;

      background-image: url("{% static 'blackBackground.jpg' %}");

      background-size: cover;

      background-color: purple;

    }
  .info {
      position: absolute;

      width: 100%;

      height: 100%;

      top: 100%;

      background-size: cover;

      background-color: black;
  }
  .content {

      position: absolute;

      top: 205%;

      width: 100%;

    }

</style>



