{% extends 'nombre/base.html' %}

{% block content %}
{% load poll_extras %}

<br><br>
<form method="POST">
{% csrf_token %}
{% for pregunta, opcionesRespuesta in opcionesRespuesta %}
	<div class="accordion accordion-flush" id="aa{{ pregunta.id }}">
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a{{ pregunta.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
              {{ pregunta.enunciado }}<br/>
          </button>
	    </h2>
	    <div id="a{{ pregunta.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#aa{{ pregunta.id }}">
	    		{% if pregunta.answer_type == "1" %}
	          {% for opcionRespuesta in opcionesRespuesta %}
	          <div class="form-check" style="margin-left: 26px; margin-top: 10px;">
							<input class="form-check-input" type="radio" name="{{ pregunta.id }}" value="{{ opcionRespuesta.opcion_multiple }}">
							<label for="{{ pregunta.id}}" class="form-check-label">{{ opcionRespuesta.opcion_multiple }}</label><br>
						</div>
						{% endfor %}
					{% endif %}
					{% if pregunta.answer_type == "2" %}
						<div class="form-group">
					    <label for="exampleFormControlTextarea1">Texto:</label>
					    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="{{ pregunta.id }}"></textarea>
					  </div>
					{% endif %}
					{% if request.user|has_group:"Docentes" %}
					<br>
				  <a href="{% url 'agregar-respuesta' quiz.tematica.materia.carrera quiz.tematica.materia quiz.tematica.titulo quiz.id pregunta.id %}" class="btn btn-primary">agregar respuesta</a><br>
				  {% endif %}
        <div class="accordion-body"></div>
	    </div>
	  </div>
	</div>
<br/>
{% endfor %}
<input type="submit" value="Enviar">
</form> 
{% if request.user|has_group:"Docentes" %}
<a href="{% url 'agregar-pregunta' quiz.tematica.materia.carrera quiz.tematica.materia quiz.tematica.titulo quiz.id %}" class="btn btn-success">Agregar Pregunta</a>
{% endif %}

{% endblock %}
