<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static%}
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'nombre/assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'nombre/assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'nombre/assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Universidad La Gran Colombia</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Fecha : {{ tiempo.day }} / {{ tiempo.month }} / {{ tiempo.year }} &nbsp; <a href="#" class="btn btn-primary square-btn-adjust">Ingresar</a> </div>
        </nav>   
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <img src="https://www.ugc.edu.co/sede/armenia/images/2017/12/07/logotipo_ugc.png" class="img-responsive" style="max-height: 140px;"> 

                       
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="panel panel-default">
                 
                 <div class="panel-heading">
                            Formulario de registro
                        </div>
                        <div class='panel-body'>
                 <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}

                     {{ form.as_p }}
                     <input class="btn btn-default form-control" type="submit" value="Registrar" />
                 </form>
                 </div>
                 </div>
                 <hr />
             <!-- /. PAGE INNER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'nombre/assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'nombre/assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'nombre/assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'nombre/assets/js/custom.js' %}"></script>
    
   
</body>
</html>
