{% extends 'nombre/base.html' %}

{% block content %}

{% if searched %}
<h2>Buscaste: {{ searched }}</h2>
{% else %}
<h2>Escribe algun termino en la barra de busqueda</h2>
{% endif %}


<!--
<div class="card">
  <div class="card-header">
    <h3 class="d-inline">{{ materia.nombre }}</h3>
    <a href="../" class="btn btn-secondary d-inline">Volver</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Tematicas:</h5>
    <p class="card-text">
      
        {% for tematica in tematicas_list %}
        <a href="{{ tematica.get_absolute_url }}" class="list-group-item list-group-item-action">
         {{ tematica.titulo}}
         </a>
        {% endfor %} 

  </p>
    
  </div>
</div>
-->
<br><br>

{% if searched %} 
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for tematica in tematicas %}
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center">
      <img src="{{ tematica.imagen.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ tematica.titulo }}</h5>
        <h6 class="card-title">{{ tematica.materia.nombre }} - {{ tematica.materia.carrera.nombre }}</h6>
        <p class="card-text" style="overflow: hidden; height: 150px;">
          {{ tematica.resumen }}
        </p>
        <p class="card-text"><a href="{{ tematica.get_absolute_url }}" class="btn btn-outline-primary"> Entrar</a></p>
        <p class="card-text"><small class="text-muted">Ultima Actualización: {{ tematica.last_updated }}</small></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endif %}
<br>



{% endblock %}


