{% extends 'nombre/base.html' %}

{% block content %}

{% if searched %}
<h2>Buscaste: {{ searched }}</h2>
{% else %}
<h2>Escribe algun termino en la barra de busqueda</h2>
{% endif %}


<!--
<div class="card">
  <div class="card-header">
    <h3 class="d-inline">{{ materia.nombre }}</h3>
    <a href="../" class="btn btn-secondary d-inline">Volver</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Tematicas:</h5>
    <p class="card-text">
      
        {% for tematica in tematicas_list %}
        <a href="{{ tematica.get_absolute_url }}" class="list-group-item list-group-item-action">
         {{ tematica.titulo}}
         </a>
        {% endfor %} 

  </p>
    
  </div>
</div>
-->
<br><br>
<div class="container text-center">
<div class="container-fluid d-flex justify-content-left flex-wrap">

{% if searched %}
{% for tematica in tematicas %}  
<div class="card d-inline-flex" style="width: 30%;height: 27rem; margin: 12px">
  <div class="card-header">
    <h3 class="d-inline">{{ tematica.titulo }}</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ tematica.materia.nombre }} - {{ tematica.materia.carrera.nombre }}</h5>
    <p class="card-text" style="height: 17em; overflow: hidden;">
      {% for material in material_list %}
        
        {% if material.0 == tematica.titulo %}

        {{ material.1.contenido_de_texto }}

        {% endif %}
         
      {% endfor %} 
      
    </p>
    <a href="{{ tematica.get_absolute_url }}" class="btn btn-primary"> Entrar</a>
  </div>
</div>
{% endfor %} 
</div>
</div>
{% endif %}
<br>



{% endblock %}


