<div id="mySidenav" class="sidenav">
  <br> <br><br>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="{% url 'calificaciones'%}">Calificaciones</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
{% load static %}
<link href="{% static 'nombre/style.css' %}" rel="stylesheet" />




<script type="text/javascript">
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */

var opened = false;

$(document).ready(function(){
  $('#nav-icon1').click(function(){
    $(this).toggleClass('open');
    if(opened == false){
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.width = "80%";
      document.getElementById("main").style.marginLeft = "250px";
      //document.getElementById("nav-icon1").style.left = "180px";
      document.getElementById("auxiliarnav").style.left = "190px";
      opened = true;
    }
    else if(opened == true){
      document.getElementById("mySidenav").style.width = null;
      document.getElementById("main").style.marginLeft = null;
      document.getElementById("main").style.width = null;
      //document.getElementById("nav-icon1").style.left = null;
      document.getElementById("auxiliarnav").style.left = null;
      opened = false;
    }
  });
});

</script>

<style type="text/css">
    

  /* Icon 1 */

  #nav-icon1 {
    width: 38px;
    height: 32px;
    z-index: 1;
    margin: 20px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #215419;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 9px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 18px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  
</style>