{% extends 'nombre/base.html' %}

{% block content %}

<br>
<div class="shadow p-4 mb-5 bg-body rounded">
<table class="table">
  <tr>
    <td><h1>Tematicas - {{ materia.nombre }}</h1></td>
    {% if user.is_authenticated %}
    <td align="center" class="col-2">
      <a href="{% url 'agregar-tematica' materia.carrera materia.nombre %}" class="btn btn-secondary d-inline">Agregar Tematica</a>
    </td>
    {% endif %}
  </tr>
  {% for tematica in tematicas_list %}
  <tr>
    <td>
      <a href="{{ tematica.get_absolute_url }}" class="list-group-item list-group-item-action">
         {{ tematica.titulo}}
         </a>
    </td>
    {% if user.is_authenticated %}
    <td>
      <a href="{% url 'actualizar-tematica' tematica.materia.carrera.nombre tematica.materia.nombre tematica.id %}" class="btn btn-outline-secondary btn-sm">Actualizar</a>
         <a href="{% url 'eliminar-tematica' tematica.materia.carrera.nombre tematica.materia.nombre tematica.id %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %} 
</table>
</div>
<a href="../" class="btn btn-secondary d-inline">Volver</a>


<br><br>
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for tematica in tematicas_list %}
<div class="col">
<div class="card mb-3 shadow p-4 bg-body rounded" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center">
      <img src="{{ tematica.imagen.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ tematica.titulo }}</h5>
        <h6 class="card-title">{{ tematica.materia.nombre }} - {{ tematica.materia.carrera.nombre }}</h6>
        <p class="card-text" style="overflow: hidden; height: 150px;">
          {{ tematica.resumen }}
        </p>
        <p class="card-text"><a href="{{ tematica.get_absolute_url }}" class="btn btn-outline-primary"> Entrar</a></p>
        <p class="card-text"><small class="text-muted">Ultima Actualización: {{ tematica.last_updated }}</small></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>
<br>


{% endblock %}


