{% extends 'nombre/base.html' %}

{% block content %}

<br>

<table class="table">
  <tr>
    <td><h1>Tematicas - {{ materia.nombre }}</h1></td>
    <td align="center" class="col-2">
      <a href="{% url 'agregar-tematica' materia.carrera materia.nombre %}" class="btn btn-secondary d-inline">Agregar Tematica</a>
    </td>
  </tr>
  {% for tematica in tematicas_list %}
  <tr>
    <td>
      <a href="{{ tematica.get_absolute_url }}" class="list-group-item list-group-item-action">
         {{ tematica.titulo}}
         </a>
    </td>
    <td>
      <a href="{% url 'actualizar-tematica' tematica.materia.carrera.nombre tematica.materia.nombre tematica.id %}" class="btn btn-outline-secondary btn-sm">Actualizar</a>
         <a href="{% url 'eliminar-tematica' tematica.materia.carrera.nombre tematica.materia.nombre tematica.id %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
    </td>
  </tr>
  {% endfor %} 
</table>

<a href="../" class="btn btn-secondary d-inline">Volver</a>


<br><br>
<div class="container text-center">
<div class="container-fluid d-flex justify-content-left flex-wrap">
  
{% for tematica in tematicas_list %}  
<div class="card d-inline-flex" style="width: 30%;height: 27rem; margin: 12px">
  <div class="card-header">
    <h3 class="d-inline">{{ tematica.titulo }}</h3>
  </div>
  <div class="card-body">
    <!--<h5 class="card-title">{{ 
    tematica.materia.nombre }}</h5>-->
    <p class="card-text" style="height: 18em; overflow: hidden;">
      {% for material in material_list %}
        
        {% if material.0 == tematica.titulo %}

        {{ material.1.contenido_de_texto }}

        {% endif %}
         
      {% endfor %} 
      
    </p>
    <a href="{{ tematica.get_absolute_url }}" class="btn btn-primary"> Entrar</a>
  </div>
</div>
{% endfor %} 
</div>
</div>
<br>


{% endblock %}


